{% extends 'base.html' %}

{% block body %}
<div class="neuro-content">
    <div class="neuro-flex-row">
        <div style="  display: flex; flex-direction: column; justify-content: top;">
        <div class="neuro-view-nft" >
            <a href="/molecules/{{ molecule }}">{{ molecule }}</a>
            <img src="/static/Images/mols/{{ molecule }}.png" alt="{{ molecule['smile'] }}" width="200" height="200">
            <div class="neuro-flex-row">
                <p>smile:</p>
                <p>{{ mol['smile'] }}</p>
            </div>
            <div class="neuro-flex-row">
                <p>inchikey:</p>
                <p>{{ mol['inchikey']}}</p>
            </div>
            <div class="neuro-flex-row">
                <p>mwt:</p>
                <p>{{ mol['mwt']}}</p>
            </div>
            <div class="neuro-flex-row">
                <p>logp:</p>
                <p>{{ mol['logp']}}</p>
            </div>
        </div>
        <div>
            <form action="/molecules/{{molecule}}" method="POST">
                <fieldset>
                    <legend>Choose Descriptors:</legend>
                    {% for group in sel_groups %}
                    <div>
                      <input type="checkbox" id="{{group[0]}}" name="{{group[0]}}" 
                      {% if group[1] %}checked{% endif %}
                      >
                      <label for="{{group[0]}}">{{group[0]}}</label>
                    </div>
                
                   {% endfor %}
                </fieldset>
                <div>
                    <input type="checkbox" id="include_zero" name="include_zero" {% if include_zero %}checked{% endif %}>
                    <label for="include_zero">Include Zero</label>
                </div>
                <div>
                    <button type="submit" class="neuro-button-small">Filter</button>
                  </div>
            </form>

        </div>
    </div>
        <div class="neuro-view-nft-collection">
            {%for sel in sel_groups %}

            {% if sel[1] %}
            <div class = "neuro-view-nft">
                <div class="neuro-view-nft-header">
                    {{sel[0]}}
                </div>
                {% for descriptor in desc_groups[sel[0]] %}
                {% if include_zero or (mol['descriptors'][descriptor['descriptor']] != 0) %}
                <div class="neuro-flex-row" >
                    <div>{{descriptor['display']}}:</div>
                    <div>{{"%0.2f" | format(mol['descriptors'][descriptor['descriptor']])}}</div>

                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}